.nav-list {
  font-size: large;
}
.drop {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #343a40;
  list-style: none;
  width: 130px;
  display: none;
}

.nav-item:hover .drop {
  transform: translateY(90);
  display: block;
}
.search {
  font-size: 24px;
}
