.nav-list {
  font-size: large;
}
.drop {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #343a40;
  list-style: none;
  width: 130px;
  display: none;
  z-index: 2;
}

.nav-item:hover .drop {
  transform: translateY(90);
  display: block;
}
.search {
  font-size: 24px;
}
.bar {
  font-size: 25px;
}
.search-under {
  margin: 0 88px 0 88px;
}
