.nav-list {
  font-size: large;
}
.drop {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #343a40;
  list-style: none;
  width: 130px;
  display: none;
  z-index: 2;
}

.nav-item:hover .drop {
  transform: translateY(90);
  display: block;
}
.search {
  font-size: 24px;
}
.bar {
  font-size: 25px;
}
.search-under {
  margin: 0 88px 0 88px;
}
@media only screen and (min-width: 576px) and (max-width: 991px) {
  .modal {
    top: -29px;
    width: 56%;
  }
}

@media only screen and (max-width: 575px) {
  .modal-content {
    position: absolute;
    top: -8px;
    left: -8px;
    overflow: auto;
    overflow-y: auto;
    z-index: 100;
    /* { */
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  /* } */
}
